### Importing the libraries and data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


df = pd.read_csv(r"C:\Users\HP\Downloads\python learning\capstone.csv")

In [18]:
# Display the first few rows of the dataset
df.head()

,Customer_id,Age,Gender,Revenue_Total,N_Purchases,Purchase_DATE,Purchase_VALUE,Pay_Method,Time_Spent,Browser,Newsletter,Voucher
0,504308,53,0,45.3,2,22.06.21,24.915,1,885,0,0,0
1,504309,18,1,36.2,3,10.12.21,2.896,2,656,0,0,1
2,504310,52,1,10.6,1,14.03.21,10.600,0,761,0,1,0
3,504311,29,0,54.1,5,25.10.21,43.280,1,906,0,1,0
4,504312,21,1,56.9,1,14.09.21,56.900,1,605,0,1,0

### K-Nearest Neighbour Regression

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Separate features (X) and target variable (y)
X = df.drop(columns=['Age','Customer_id', 'Purchase_DATE', 'Revenue_Total','Gender','Pay_Method','Browser','Newsletter','Voucher'])
y = df['Revenue_Total']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature Scaling (standardization)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Build and train the KNN Regression model
knn_model = KNeighborsRegressor(n_neighbors=5)  
knn_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = knn_model.predict(X_test_scaled)

# Calculate evaluation metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
from math import sqrt
mape = mean_absolute_percentage_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)



print(f'MAPE: {mape}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'MAE: {mae}')
print(f'R-squared: {r_squared}')

MAPE: 0.7584322549517233
MSE: 130.29870516717324
RMSE: 11.414845823188907
MAE: 8.270100303951367
R-squared: 0.41981710903944114

### Actual Sales vs Predicted Sales

In [6]:
import pandas as pd
predictions_df = pd.DataFrame({
    'Actual Sales': y_test,  
    'Predicted Sales': y_pred
})

predictions_df

       Actual Sales  Predicted Sales
44712          31.0            32.82
43557          30.1            33.44
13540          44.3            29.92
15253          22.5            35.82
42221           0.7            11.78
...             ...              ...
15269          39.7            33.60
11299          25.3            45.38
32364           2.0            35.84
18432          20.2            24.98
39418          33.9            35.18

[13160 rows x 2 columns]

### Applying Square Root Transformation

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Separate features (X) and target variable (y)
X = df.drop(columns=['Age','Customer_id', 'Purchase_DATE', 'Revenue_Total','Gender','Pay_Method','Browser','Newsletter','Voucher'])
y = np.sqrt(df['Revenue_Total'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



# Build and train the KNN Regression model
knn_model = KNeighborsRegressor(n_neighbors=5) 1
knn_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = knn_model.predict(X_test_scaled)

# Calculate evaluation metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
from math import sqrt
mape = mean_absolute_percentage_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)



print(f'MAPE: {mape}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'MAE: {mae}')
print(f'R-squared: {r_squared}')

MAPE: 0.24078618399478768
MSE: 1.4668967996139517
RMSE: 1.2111551509257399
MAE: 0.8643414443233584
R-squared: 0.44548853283461154

### Actual Sales vs Predicted Sales

In [17]:
import pandas as pd
predictions_df = pd.DataFrame({
    'Actual Sales': y_test**2,  
    'Predicted Sales': y_pred**2
})

predictions_df

       Actual Sales  Predicted Sales
44712          31.0        36.041337
43557          30.1        24.123123
13540          44.3        11.155470
15253          22.5        29.600043
42221           0.7         1.013010
...             ...              ...
15269          39.7        35.275670
11299          25.3        33.182110
32364           2.0        13.718159
18432          20.2        11.964356
39418          33.9        33.838830

[13160 rows x 2 columns]